.App {
  text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  
  
}



.App-header {
  background-color: #282c34;
  display: flex;
  padding: 10px;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header a{
  padding: 10px;

}

.div-app-header:hover{
  background-color: #a3a4a59c;
}



/* General styles */
body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
}


input, textarea, button {
  font-family: inherit;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;

}

.home{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://imgs.search.brave.com/VxQsriKa4TadrN3Tt_HZ6peaaYqqdiAJSglbwggMgcs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzkzLzU1Lzg3/LzM2MF9GXzI5MzU1/ODcxN18zSUczY3RQ/enZTVzZtOUxsWHBt/T2hidkFicDZ6Q2Za/Ni5qcGc");
}
.home>h1{
  margin: 0;
  padding: 0;
  font-size: 7rem;
  margin-top: 6rem;
}
.links{
  display: flex;
}
.links-link {
  background-color: rgb(111, 119, 96);
  padding: 10px;
  margin: 10px;
    color: white;
}

.links-link:hover{
  background-color: rgb(131, 142, 104);
color: rgb(255, 255, 255);
}

/* search input */
.input-beers-search{
margin: 30px;
}

/* Beer List */
.beer-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

.beer {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  
}
}

.beer img {
  max-height: 100px;
  object-fit: contain;
}

.beer h3 {
  margin: 15px 0 10px;
  font-size: 1.2rem;
  color: #333;
}

.beer p {
  margin: 0;
  font-size: 0.9rem;

  color: #666;
}

.pagination-controls>*{
  margin: 0.5rem;
}

/* Search input */
input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Button */
button {
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
    background-color: #282c34;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

button:hover {
  background-color: #282c34d8;
}

/* Add Beer Form */
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 2rem auto;
  text-align: left;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.new-beer-h1{
  margin-top: 2rem;
}

form label {
  display: block;
  font-size: 1rem;
  margin: 15px 0 5px;
  color: #333;
}

form input[type="text"],
form textarea,
form input[type="number"] {
  min-width: 35rem;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}



form button {
  margin-top: 20px;
}

/* Loading and error messages */
p {
  color: #666;
  text-align: center;
}

/* single beer */
.single-beer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: left;

}
.single-beer img, .random-beer-img {
  height: 300px;
  /* object-fit: contain; */
  padding: 20px;
}
.single-beer-text>*{
  max-width: 30rem;
  text-align: left;

}